body{
    background-color: #2f3542;
    font-family: Arial;
}

.main{
    width: 100%;
}

.todo-box{
    width: 350px;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

input{
    width: 70%;
    padding: 10px;
}

button{
    padding: 10px;
    background-color: #3742fa;
    color: white;
    border: none;
    cursor: pointer;
}

ul{
    margin-top: 20px;
    padding: 0;
}

li{
    list-style: none;
    background-color: #f1f2f6;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.done{
    text-decoration: line-through;
    color: gray;
}